body{
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.content{
  margin-top: 100px;
  width: 800px;
  margin: auto;
  background-color: white;
}

.title{
  text-align: center;
}

h1{
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 15px;
}

.nav{
  text-align: center;
  padding: 20px 0px;
}

.nav a{
  margin: 0px 5px;
}

.btn {
  background-color: #a67f02;
}